.App {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 300 px;
  height: 60px;
  margin: 10px;
}

.post {
  width: 500px;
  height: 170 px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10pox;
}

.updateInput {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
}
